#div10
  {
        background:#303132;
        border:.2rem solid #303132 ; 
        height:10rem;  
  }

.div10 a {
    text-decoration: none;
    color: white;
    float: right;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.div10 a:hover {
    text-decoration: none;
    color: white;
    float: right;
    margin-bottom: 1rem;
    padding:1rem;
    border:.2rem solid white;
    margin-right: 1rem;
    font-size: 1.5rem;
}