body
       {
           background-color:#2178d5;
       }

            .div4
            {
                height:7rem;
            }
            .div6
      {
        display: flex;
        justify-content: center;
        text-align:center;
        align-items:center;
        position:sticky;
        background-color:grey;
        top:5.5rem;
        padding-bottom:.5rem;
        
        
        
      }

      .div6 .inpscr
      {
           width:40rem;
           margin-top:.8rem;
           height:4rem;
           border-left:none;
           border:.2rem solid #0c8bae;
           border-right:none;
           border-top-left-radius:2rem; 
           border-bottom-left-radius:2rem;
           outline:none;
           padding-left:1rem;
        }

        .search
        {
            
            border-top-right-radius:2rem; 
            border-bottom-right-radius:2rem; 
            margin-top:.8rem;
            height:4rem;
            background-color:#0c8bae;
            color:white;
            border:.2rem solid #0c8bae;
            cursor: pointer;
            padding-left:1rem;
            border-left:none;
            padding-right:1rem;
            font-size:1.5rem;
        }

        .div5 
        {
          display:flex;
          justify-content:space-evenly;
          align-items:center;
          text-align: center;
          margin-left:1rem;
          flex-wrap:wrap;
        }





.boxun {

border: .5rem solid #2178d5;
width:max-content;
height:max-content;
margin-top: 2.5rem;
margin-right:1.5rem;
margin-left:1.5rem;
border-radius: 2rem;
padding-top: 2rem;
background-color:#303132;
display:block;
justify-content:center;
align-items:center;
text-align:center;

}





    .boxun button{

    font-size:1.4rem;
    color:white;
    background-color:#0c8bae;
    padding:1rem;
    width:7rem;
    border:.2rem solid #0c8bae;
    border-radius:1rem;
    margin-top:.5rem;
    cursor: pointer;

    }




    .boxun h2
    {
        font-size:2.5rem;
        font-weight: 2rem;
        color:white;
    }

    .boxun h3{
        
        font-size:1.5rem;
        font-weight: 2rem;
        color:green;
        
        
    }

  table
  {
       text-align:center;
       background:white;
       width:55rem;
    

    }
    th
    {
        padding:.5rem;
        color:black;

    }
    td
    {
        color:black;
        padding:1rem;
    }

    img
    {
         width:8rem;
    }