.body
         {
             background:#2178d5;
         }

         #file
{
        width:26rem;
        height:3rem;
        background-color:white;
        font-size:1.5rem;
        color:black;
        border:.2rem solid black;
        margin-left:1rem;
}