.bood {
    background-color: #E5F3FE;
}


#dvi10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;

}

.reg1 {
    width: 100%;
    background: #2178d5;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

}

.sign1 {
    color: #2178d5;
    width: 8rem;
    background-color: white;
    border: .2rem solid #2178d5;
    cursor: pointer;
    padding: .5rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    border-radius: .5rem;
    float: right;

}

.sign1:hover {
    background: #2178d5;
    border: .2rem solid white;
    color: white;


}

section {

    padding: 1.8rem;
    width: 65rem;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    border: .2rem solid #2178d5;
    border-radius: .5rem;
    margin-bottom: 6.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

 u {
    font-size: 2rem;
    color: #2178d5;
    margin-bottom: 1rem;
}

.p {
    
    font-size: 1.7rem;
    text-align: justify;
}

.reg1 #loge {
    font-size: 2.5rem;
    text-decoration: none;
    display: flex;
    align-content: center;
    text-align: center;
    width: fit-content;
    color: white;
    margin-left: 1.5rem;



}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    


}

img {
    width: 18rem;
    height: 15rem;
    margin-left: .5rem;
    border: .4rem solid #2178d5;
    border-radius: .5rem;
}

.cla {
    width: auto;
    height: auto;
    border: .1rem solid black;
}

@media screen and (max-width:685px) {

    .bood {
        background-color: #E5F3FE;
    }


    #dvi10 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;

    }

    .reg1 {
        width: 100%;
        background: #2178d5;
        display: flex;
        justify-content: space-between;
        height: 7rem;
        position: sticky;
        top: 0;

    }

    .sign1 {
        color: #2178d5;
        width: 8rem;
        background-color: white;
        border: .2rem solid #2178d5;
        cursor: pointer;
        padding: .5rem;
        /* margin-top:-2rem; */
        margin-right: 1.5rem;
        font-size: 1.6rem;
        border-radius: .5rem;
        float: right;

    }

    .sign1:hover {
        background: #2178d5;
        border: .2rem solid white;
        color: white;


    }

    section {

        padding: 1.8rem;
        width: 30rem;
        height: auto;
        background-color: #fff;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        border: .2rem solid #2178d5;
        border-radius: .5rem;
        margin-bottom: 6.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }

     u {
        font-size: 1.5rem;
        color: #2178d5;
        margin-bottom: 1rem;
       

    }

    .p
    {
        font-size:1.2rem;
        text-align: justify;
       
    }

    .reg1 #loge {
        font-size: 2rem;
        text-decoration: none;
        color: white;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        width: fit-content;






    }

    .img
    {

   
        flex-direction: column;
    }

    img {
        width: 25rem;
        height: 5rem;
        margin-bottom: .5rem;
        border: .2rem solid #2178d5;
        border-radius: .5rem;
    }

    .cla {
        width:25rem;
        
        height:auto;
    }

}